@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
}
