<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column align-items-center my-3">
      <h1>Choose your Pokemon</h1>
      <!-- form di ricerca -->
      <form (ngSubmit)="searchPokemonTaskTwo()" #pokemonForm="ngForm">
        <div>
          <input
            type="text"
            id="pokemonName"
            name="pokemonName"
            [(ngModel)]="pokemonName"
            placeholder="search"
            class="text-center search-bar"
            required
          />
          <button
            class="search-btn"
            type="submit"
            [disabled]="pokemonForm.invalid"
          >
            <img src="/assets/go.png" alt="search-btn" class="go-btn" />
          </button>
        </div>
      </form>
      <!-- in caso di errore -->
      <div *ngIf="errorMessage">
        <h5 class="text-danger">{{ errorMessage }}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <!--  card -->
      <div *ngIf="pokemonTwo" class="card-container">
        <div class="pokehead">
          <div class="d-flex align-items-center">
            <img
              [src]="pokemonTwo.image"
              alt="pokemon avatar"
              class="pokemon-img"
            />
            <a [routerLink]="['/evolution-chain', pokemonName]">
              <h2 class="species" title="Clicca to see evolution chain">
                {{ pokemonTwo.name }}
              </h2>
            </a>
          </div>
          <div class="type-badge">
            <span>Type:</span>
            <div *ngFor="let type of pokemonTwo.types">
              <a
                title="List of {{ type }} Pokemon"
                class="type-link"
                [routerLink]="['/pokemon-type', type]"
                >{{ type }}</a
              >
            </div>
          </div>
        </div>
        <!-- Sezione statistiche -->
        <div class="stats-container">
          <h3 class="stats-title">Statistics</h3>
          <div class="stat-item" *ngFor="let stat of pokemonTwo.stats">
            <p class="stat-name">
              {{ stat.name }}: <span class="stat-value">{{ stat.value }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
