<h1>Choose your figther</h1>

<!-- form di ricerca  -->
<form (ngSubmit)="searchPokemonTaskTwo()" #pokemonForm="ngForm">
  <div>
    <label for="pokemonName">Inserisci il nome del Pokemon</label>
    <input
      type="text"
      id="pokemonName"
      name="pokemonName"
      [(ngModel)]="pokemonName"
      required
    />
  </div>
  <button type="submit" [disabled]="pokemonForm.invalid">Cerca</button>
</form>

<!-- in caso di errore -->
<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<!-- risultato -->
<div *ngIf="pokemonTwo">
  <a [routerLink]="['/evolution-chain', pokemonName]">{{ pokemonTwo.name }}</a>
  <img [src]="pokemonTwo.image" alt="pokemon avatar" />
  <h3>Types:</h3>
  <div *ngFor="let type of pokemonTwo.types">
    <a [routerLink]="['/pokemon-type', type]">{{ type }}</a>
  </div>
  <h3>statistics</h3>
  <div *ngFor="let stat of pokemonTwo.stats">
    <p>
      {{ stat.name }} <span>{{ stat.value }}</span>
    </p>
  </div>
</div>
